@CHARSET "UTF-8";

table {
	border-collapse: collapse;
	border-spacing: 0;
	font-family: Verdana,sans-serif;
    font-size: 12px;
    line-height: 1.2;
    margin-bottom: 12px;
}


table>thead>tr:nth-child(1) {
	border-top: 1px solid #ccc;
	color: red;
	font-weight: bold;
	font-size: 16px;
}

.table01>thead>tr:nth-child(2) {
	background-color: #7e7e8c;
	color: white;
}



.table02>thead>tr:nth-child(2) {
	background-color: #7e7e8c;
	color: white;
}

.table02>thead>tr:nth-child(3) {
	background-color: #dde0f8;
}

table td {
	padding-right: 8px;
}

table>tbody>tr {
	border-bottom: 1px solid #ccc;
}

table>tbody>tr:nth-child(even) {
	background-color: #f2f2f2
}


.table01>tbody>tr>td:nth-child(2) {
	padding-left: 4px;
	color: blue;
}

.table01>tbody>tr>td:nth-child(3) {
	padding-left: 4px;
	font-weight: bold;
	text-align: right;
}

.table01>tbody>tr>td:nth-child(3) {
	font-weight: bold;
}


.table02>tbody>tr>td:nth-child(n+2) {
	padding-left: 4px;
	font-weight: bold;
	text-align: right;
}

